@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUpwards {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUpwards {
  animation-name: fadeInUpwards;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* Small screens: Default to vertical split */
.split-bg-vertically {
  background-image: linear-gradient(
    to bottom,
    #e6f0f8 10%,
    #e6f0f8 10%,
    #ffffff 10%,
    #ffffff 90%
  );
}

/* Larger screens */
@media (min-width: 640px) {
  /* Adjust breakpoint as needed */
  .bgForAbout {
    background-image: linear-gradient(
      to right,
      #e6f0f8 40%,
      #e6f0f8 40%,
      #ffffff 40%,
      #ffffff 70%
    );
  }

  .split-bg-vertically {
    background-image: none; /* Reset for larger screens if necessary */
  }
}

@media (max-width: 768px) {
  /* Adjust as needed for your responsive breakpoints */
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.carousel-container .swiper-button-prev,
.carousel-container .swiper-button-next {
  transition: all 300ms ease-in-out; /* Smooth transition for all properties */
  transform: scale(1); /* Initial scale */
}

.carousel-container .swiper-button-prev:hover,
.carousel-container .swiper-button-next:hover {
  transform: scale(1.5); /* Scale up the buttons to 105% on hover */
}

/* Carousel styles */
.carousel-container .swiper-pagination-bullet {
  background: #446af2 !important; /* Example: Deep blue bullets */
  opacity: 1 !important; /* Ensure the bullets are always visible */
  width: 15px;
  height: 15px;
  z-index: 10 !important;
  transition: all 300ms ease-in-out; /* Smooth transition for all properties */
  transform: scale(1); /* Initial scale */
}

.carousel-container .swiper-pagination-bullet:hover {
  transform: scale(1.3); /* Scale up the bullets to 105% on hover */
}

.carousel-container .swiper-pagination-bullet-active {
  background: #e6f0f8 !important;
  border-radius: 10px !important;
  border-width: 2px;
  border-color: #446af2 !important;
}

.carousel-container .swiperbody {
  overflow: visible !important;
  position: relative !important;
}

.carousel-container .swiper-pagination {
  position: absolute !important;
}

/* Adding margin-top to the pagination container */

@keyframes slide-in-from-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-to-left {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in-from-left {
  animation: slide-in-from-left 1s forwards;
}

.slide-out-to-right {
  animation: slide-out-to-right 1s forwards;
}

.slide-in-from-right {
  animation: slide-in-from-right 1s forwards;
}

.slide-out-to-left {
  animation: slide-out-to-left 1s forwards;
}

/* Add to your CSS file */
.button-fade {
  transition: opacity 1s ease;
}

.button-hidden {
  opacity: 0;
  visibility: hidden; /* Use visibility to ensure the button doesn't block clicks when invisible */
}

.button-visible {
  opacity: 1;
  visibility: visible;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.7s forwards;
}

/* Arsi section */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 3s;
  animation-fill-mode: both;
}

/* Utility for animation delay, repeat this pattern for as many delays as you need */
.delay-200ms {
  animation-delay: 200ms;
}
.delay-400ms {
  animation-delay: 400ms;
}

.split-bg-vertically {
  background-image: linear-gradient(
    to bottom,
    #e6f0f8 40%,
    #e6f0f8 40%,
    #ffffff 40%,
    #ffffff 70%
  );
}


.split-bg-vert {
  background: linear-gradient(to bottom, #ff9d9d 50%, #9dceff 50%);
}
