@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUpwards {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fadeInUpwards {
    animation-name: fadeInUpwards;
    animation-duration: 0.8s;
    animation-fill-mode: both;
  }

  .bgForAbout{
  background-image: linear-gradient(to right, #E6F0F8 40%, #E6F0F8 40%, #ffffff 40%, #ffffff 70%);
  }

  .split-bg-vertically{
  background-image: linear-gradient(to bottom, #E6F0F8 20%, #E6F0F8 20%, #ffffff 20%, #ffffff 70%);
  }


@keyframes slideInFromRight {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}
@keyframes slideOutToLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}
@keyframes slideInFromLeft {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}
@keyframes slideOutToRight {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}

.slide-in-from-right {
  animation: slideInFromRight 0.5s forwards;
}
.slide-out-to-left {
  animation: slideOutToLeft 0.5s forwards;
}
.slide-in-from-left {
  animation: slideInFromLeft 0.5s forwards;
}
.slide-out-to-right {
  animation: slideOutToRight 0.5s forwards;
}


/* Add to your CSS file */
.button-fade {
  transition: opacity 1s ease;
}

.button-hidden {
  opacity: 0;
  visibility: hidden; /* Use visibility to ensure the button doesn't block clicks when invisible */
}

.button-visible {
  opacity: 1;
  visibility: visible;
}


::-webkit-scrollbar {
  display: none;
}