@tailwind base;
@tailwind components;
@tailwind utilities;

.split-bg{
  background-image: linear-gradient(to right, #E6F0F8 40%, #E6F0F8 40%, #F8F9FB 40%, #F8F9FB 70%);
}

/* Add these styles to your global.css or equivalent */
@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-right {
  animation: slideInFromRight 0.5s forwards;
}

.slide-left {
  animation: slideInFromLeft 0.5s forwards;
}

/* Add to your CSS file */
.button-fade {
  transition: opacity 0.5s ease;
}

.button-hidden {
  opacity: 0;
  visibility: hidden; /* Use visibility to ensure the button doesn't block clicks when invisible */
}

.button-visible {
  opacity: 1;
  visibility: visible;
}


::-webkit-scrollbar {
  display: none;
}